/* Steven Chin and Tzuhsien Liu */

.title {
  text-align: center;
	color: burlywood;
  font-size: 32px;
  margin: 0px;
  margin-bottom: 50px;
}

/* board styling */
#board{
  width: 600px;
  margin: 0 auto;
  border: 10px solid brown;
}
.row {
  display: flex;
}

/* block styling */
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}

.black {
  background: black;
}

.red {
  background: red;
}
/* block styling end */

/* piece styling */

.piece {
  border-radius: 50%; 
  width: 50px;
  height: 50px;
}

.selected {
  border: 2px solid lightblue; 
}

.playerG {
  background: green;
}

.playerP {
  background: purple;
}

/* piece styling end */


/* board styling end*/